.items {
    background-color: #DDFFBC;
    color: #52734D;
    font-size: 40px;
    font-family: 'Shalimar', cursive;
    text-align: center;
    font-weight: bolder;
    line-height: 1;
    width: fit-content;
    padding: 5px 90px;
    margin: 7.5px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

.items p {
    margin: 0;
}