.main {
    margin: 100px auto;
    width: 100%;
}

.man {
    width: 30%;
}

@media (max-width: 768px) {
    .main {
        margin-top: 50px;
        width: 90%;
    }
}

@media (max-width: 567px) {
    .man {
        width: 75%;
    }
}